.sale-main {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.list-product {
    border-radius: 7px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.product {
    padding: 10px;
    width: 100%;
    height: 310px;
    position: relative;
    box-sizing: border-box;
    border: 0.5px solid #bebebe;
}

.image-product {
    overflow: hidden;
    width: 100%;
    height: 56%;
}

.image-product img {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 105%;
    object-fit: contain;
    text-align: center;
}

.detail-product {
    position: relative;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
}

.name-product {
    width: 100%;
    height: 25%;
}

.price-product {
    box-sizing: border-box;
    align-items: center;
    height: 25%;
    display: flex;
    padding-top: 10px;
}

.star-product {
    align-items: center;
    height: 25%;
    display: flex;
}

.button-product {
    margin-top: 7px;
    box-sizing: border-box;
    width: 100%;
    height: 29%;
}

.rating ul {
    display: flex;
}

.button-product button {
    border: navajowhite;
    height: 100%;
    width: 100%;
    font-size: 13px;
    color: #4a5568;
    border-radius: 50px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
}

.add-product {
    width: 28px;
    top: 96px;
    position: absolute;
    left: 162px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
}

.price-product h5 {
    font-weight: 600;
    margin-top: 3px;
    line-height: 21px;
    font-size: 14px;
}

.price-product span {
    font-size: 14px;
    color: green;
}

.rating {
    padding-right: 10px;
}

.instocl h6 {
    font-size: 13px;
    font-weight: 500;
    color: green;
    font-family: system-ui;
}


/* Slider  */

.bowse-by {
    width: 100%;
    height: 250px;
    padding-top: 30px;
}

.header-bowse {
    width: 100%;
    height: 100px;
}

.main-bowse {
    width: 100%;
    height: 130px;
}

.slide {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.slide-image {
    position: relative;
    width: 120px;
    height: 100px;
    background-color: #d3d3d3;
}

i.fa-regular.fa-salad {
    z-index: 999;
    position: absolute;
}

.icon-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.icon-detail {
    position: absolute;
    top: 11px;
    left: 40px;
    font-size: 40px;
}

.icon-slide h5 {
    position: absolute;
    top: 67px;
    left: 30px;
}

.togle {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.fa-solid.fa-ellipsis {
    font-size: 30px;
}

.banner-offer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 200px;
}

.image-banner-right {
    padding: 20px 10px 20px 0px;
    width: 50%;
    overflow: hidden;
    position: relative;
}

.image-banner-left {
    position: relative;
    overflow: hidden;
    padding: 20px 0px 20px 10px;
    width: 50%;
}

.image-banner-r {
    width: 100%;
    height: 90%;
}

.image-banner-r img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-banner-l img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-banner-l {
    width: 100%;
    height: 90%;
}

.text-banner-r {
    position: absolute;
    top: 50px;
    left: 30px;
}

.text-banner-l {
    position: absolute;
    top: 50px;
    left: 30px;
}

.banner-offer h3 {
    color: black;
}

.banner-offer h4 {
    line-height: 1.6;
    color: green;
    font-size: 21px;
}

.banner-offer button {
    width: 90px;
    height: 30px;
    background-color: #f05959;
    border: none;
    border-radius: 5px;
    color: white;
}

.header-food {
    padding-bottom: 11px;
}

.Food-Cupboard {
    width: 100%;
    height: 440px;
}

.banner-two {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 150px;
}

.image-banner-two {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 10px;
}

.image-banner-two img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 7px;
}

.text-banner-two {
    line-height: 47px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 210px;
    align-items: center;
    justify-content: center;
}

.text-banner-two h6 {
    color: white;
    font-size: 16px;
    border: dashed;
    width: 100%;
}

.wrap-text-banner h3 {
    color: white;
    font-size: 30px;
}

.wrap-text-banner {
    width: 100%;
}